 body{
    background-color: black;
    color: white;
    width: auto;
    margin:20px;
    font-size: 18px ;
    overflow: hidden;
    
}

nav {
    color:rgb(252 92 28);
    display: flex;
    height: 30px;
    margin: 0px 40px 10px 40px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /*border-bottom: rgb(145, 144, 144) solid 2px;*/
  
  }


  nav ul li{
    color: rgb(252 92 28);
    display: inline;
    list-style-type: none;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
  }

nav ul li:hover{
  color: rgb(143, 45, 6);
  padding-bottom: 5px;
  /*background-color: rgb(122, 42, 11);*/
  text-decoration: underline;
}

/*#logo{
height: 90px;
width: 90px;
  }
*/
#bg{margin: 10px;
    color:white;
    font-style: inherit;
    text-align: center;
    display: inline;
    height: auto;
    
  }

nav ul li a{
  color: rgb(252 92 28);
  text-decoration: none;}
Z
#name{
  color: rgb(252 92 28);
}